.filters {
  min-width: 232px;
  max-height: 252px;
  background-color: white;
  padding: 20px 0px 10px 0px;
}

.filters-body {
  display: flex;
  flex-direction: column;
}

.filters-title {
  margin: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.filters-list {
  display: flex;
  flex-direction: column;
}

.filter {
  padding: 10px 0px 10px 20px;
  font-size: 13px;
  font-weight: 400;
}

.filter:hover {
  background-color: #f1fcff;
}

.filter-text {
  position: relative;
  margin-left: 10px;
  line-height: 20px;
}

.filter-input {
  display: none;
}

/* Стили для контейнера чекбокса */
.filter-checkbox {
  display: flex;
  cursor: pointer;
}

/* Стили для кастомного чекбокса */
.filter-custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #2196f3;
  background-color: white;
}

/* Стили для состояния "checked" */
.filter-checkbox .filter-input:checked + .filter-custom-checkbox::after {
  content: url('./resources/Shape.svg');
}
